h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: blue;
}

p {
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  border:
}

button {
  flex-flow: row;
}

.indexClass {
  background-color: red;
  height: 50px;
  width: 50px;
  float: left;
  border-right: 1px solid white;
    margin-top: 15px;
}

.active {
  background: yellow;
}


/*.indexClass::after {
  content: "pending";
}*/
